<mat-toolbar>
  <span>Comment Web App</span>
  <span class="horizontal-spacer"></span>
  <button mat-stroked-button (click)="onAdd()">Add</button>
</mat-toolbar>
<div class="header-spacer"></div>
<div class="content">
  <mat-card *ngFor="let comment of comments">
    <mat-card-header>
      <mat-card-title>{{ comment.name }}</mat-card-title>
      <span class="horizontal-spacer"></span>
      <mat-card-actions>
        <button mat-stroked-button (click)="onEdit(comment)">Edit</button>
        <button mat-stroked-button (click)="onDelete(comment.id)">
          Delete
        </button>
      </mat-card-actions>
    </mat-card-header>
    <mat-card class="inner-card">
      <mat-card-content>{{ comment.text }}</mat-card-content>
    </mat-card>
  </mat-card>
</div>
