<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" [(ngModel)]="data.name">
    </mat-form-field>
    <span class="example-spacer"></span>
    <mat-form-field>
        <mat-label>Pin</mat-label>
        <input matInput placeholder="Pin" [(ngModel)]="data.pin">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Text</mat-label>
        <textarea matInput placeholder="Text" [(ngModel)]="data.text"></textarea>
    </mat-form-field>
    <button mat-stroked-button type="submit">Submit</button>
</div>
<div mat-mat-dialog-actions align="end">
    <button mat-stroked-button [mat-dialog-close]="{name:data.name, text: data.text, pin:data.pin}">Submit</button>
</div>